
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="col-lg-12">

    <textarea cols="10" id="editor2" name="editor2" rows="10">&lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href="http://ckeditor.com/"&gt;CKEditor&lt;/a&gt;.&lt;/p&gt;
	</textarea>
</div>

@section scripts{
   
<script src="~/Tool/ckeditor5-build-classic/ckeditor.js"></script>

  
}